*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
header {
  height: 45px;
  padding: 0 150px;
  display: flex;
  background-color: rgb(147, 150, 138);
  justify-content: flex-end;
  align-items: center;
}
.image_one {

  width:40px;
  margin-right: auto;
}
.nav_plus {
 
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
li, a, button{
    color: white;
    margin: 0 5px;
    font-weight: 700;
    text-decoration: none;
}
button {
  margin: o 100px;
  color: white;
  background-color: black;
  padding: 3px 15px;
  border-radius: 15px;
  border-color: yellow black black yellow;
  transition: transform 0.3s ease,border-color 0.3s ease; /*burdaki transtion:(bu kısma özelliğn adı ornek border-reius ve süre sonra ease) gibi kullanabilirsiniz*/ 
}
button:hover {
  transform: scale(1.1);
  border-color:black yellow yellow black ;
}

li, a {
  transition:color 0.4s ease;
}
li:hover, a:hover{
  color: black;
}


@media screen and (max-width: 760px) {
  header {
    padding: 0 10px;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 45px;
  }
  .image_one {
    display: none; 
  }
}